//p tag mixin
@mixin pstyle ($fontsize, $fontcolor, $lineheight, $textalign, $fontweight) {
    font-size:$fontsize;
    color:$fontcolor;
    line-height:$lineheight;
    text-align: $textalign;
    font-weight:$fontweight;
}

@mixin h3style ($fontsize, $fontcolor, $lineheight, $fontweight) {
    font-size:$fontsize;
    color:$fontcolor;
    line-height:$lineheight;
    font-weight:$fontweight;
}

@mixin h4style ($fontsize, $fontcolor, $fontweight, $textalign) {
    font-size:$fontsize;
    color:$fontcolor;
    font-weight:$fontweight;
    text-align: $textalign;
}