// font line heights
$lineheight:1.5;

// h1 fonts
$h1fontsize:6rem;
$h1fontcolor:#1a1a26;

//h2 fonts
$h2fontsize:3.6rem;
$h2fontcolor:#1a1a26;

// grid margins
$margin-right:2rem;
$margin-bottom:2rem;

//spacing between sections
$margin-bottom:3rem;

