//font color for nav, headings
$primarycolor:#1a1a26;

// h1 fonts
$h1fontsize:5rem;

//h2 fonts
$h2fontsize:3.6rem;

// grid margins
$gridmarginright:30px;

//spacing between sections
$margin-bottom:100px;

//p styles
$pcolor:#888890;
$plineheight:2rem;

//margin in sections
$secondary-margin-bottom:50px;

//after lines
$afterlineoutsidecolor:#a8edea;
$afterlineinsidecolor:#f5efef;

//discount styling
$hotcolor:#ff9a9e;
$discountcolor:#f6b895;
$newcolor:#79dad6;