article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 12px; }

body {
  font-family: 'Poppins', sans-serif; }

.wrapper {
  max-width: 1000px;
  margin: 0 auto; }

a {
  text-decoration: none; }

header, section {
  margin-bottom: 100px; }

h2 {
  color: #1a1a26;
  font-size: 3rem;
  text-align: center;
  font-weight: 500; }

.header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 20px 0; }
  .header-nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    padding: 0; }
  .header-nav li {
    list-style: none; }
  .header-nav a {
    text-transform: uppercase;
    color: #1a1a26;
    font-weight: 700;
    font-size: 1.2rem;
    padding: 10px 10px; }
    .header-nav a:hover {
      color: #888890; }

.header-logo {
  -webkit-box-flex: 3;
  -ms-flex: 3 0 auto;
  flex: 3 0 auto; }
  .header-logo img {
    width: 100px; }

.header-socialmedia-icon {
  position: relative;
  padding: 0; }
  .header-socialmedia-icon i {
    font-size: 2rem;
    font-weight: lighter; }
  .header-socialmedia-icon .notification {
    position: absolute;
    left: 15%;
    top: -20%;
    width: 15px;
    height: 15px; }
    .header-socialmedia-icon .notification p {
      margin: 0;
      background-color: #a8edea;
      color: #1a1a26;
      border-radius: 50%;
      text-align: center;
      font-weight: 500; }

.header-hero {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.5)), to(rgba(255, 255, 255, 0.5))), url(../images/hero-image-flower.jpg);
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url(../images/hero-image-flower.jpg);
  background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url(../images/hero-image-flower.jpg);
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url(../images/hero-image-flower.jpg);
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 90vh;
  position: relative; }
  .header-hero .header-overlay {
    height: 90vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .header-hero .header-overlay .header-overlay-text {
      text-align: center; }
    .header-hero .header-overlay p {
      font-size: 2.4rem;
      color: #888890;
      margin: 0; }
    .header-hero .header-overlay h1 {
      font-size: 5rem;
      color: #1a1a26;
      font-weight: 500;
      margin: 0 0 30px 0; }
    .header-hero .header-overlay .header-overlay-text a {
      color: #ffffff;
      font-size: 1.2rem;
      padding: 15px 40px;
      text-transform: uppercase;
      background-color: #f07f84;
      font-weight: 700;
      letter-spacing: 1px;
      z-index: 50; }
    .header-hero .header-overlay .header-arrows a {
      font-size: 4rem;
      color: #1a1a26; }
    .header-hero .header-overlay .header-arrow-left {
      margin-left: 30px; }
      .header-hero .header-overlay .header-arrow-left:hover a {
        color: #888890; }
    .header-hero .header-overlay .header-arrow-right {
      margin-right: 30px; }
      .header-hero .header-overlay .header-arrow-right:hover a {
        color: #888890; }
    .header-hero .header-overlay .header-arrow-left {
      text-align: left; }
  .header-hero .header-bubbles {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    bottom: 4%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    margin: 0 auto;
    z-index: 40; }
    .header-hero .header-bubbles div {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: #1a1a26;
      margin: 5px; }
    .header-hero .header-bubbles div:nth-of-type(2) {
      background-color: #888890; }

.homeplants-maintext {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 80px; }
  .homeplants-maintext .homeplants-title {
    position: relative;
    margin-bottom: 50px; }
    .homeplants-maintext .homeplants-title p {
      font-size: 1.4rem;
      color: #a8edea;
      line-height: 1;
      text-align: center;
      font-weight: 400;
      margin: 0; }
    .homeplants-maintext .homeplants-title h2 {
      margin: 1rem; }
    .homeplants-maintext .homeplants-title img {
      position: absolute;
      z-index: -10;
      top: 0;
      left: 50%;
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%); }
  .homeplants-maintext .homeplants-title + p {
    font-size: 1.2rem;
    color: #888890;
    line-height: 2rem;
    text-align: center;
    font-weight: 400;
    width: 65%; }
  .homeplants-maintext h4 {
    font-size: 1.2rem;
    color: #1a1a26;
    font-weight: 600;
    text-align: left;
    text-transform: uppercase; }
  .homeplants-maintext span {
    font-style: italic;
    color: #888890;
    font-weight: 400;
    text-transform: capitalize;
    font-size: 1.1rem; }

.homeplants-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .homeplants-grid img {
    width: 100%;
    height: 100%; }
  .homeplants-grid .homeplants-image-container {
    margin-right: 30px;
    height: 480px;
    position: relative; }
    .homeplants-grid .homeplants-image-container:hover .homeplants-overlay {
      opacity: 1; }
  .homeplants-grid .homeplants-right-side-grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: calc((100% - 30px) * 640 / 1110); }
  .homeplants-grid .tall-image {
    width: calc((100% - 30px) * 470 / 1110); }
  .homeplants-grid .square-image {
    margin-bottom: 30px;
    height: calc((100% - 30px) / 2);
    width: calc((100% - 30px) / 2); }
    .homeplants-grid .square-image:nth-of-type(2) {
      margin-right: 0; }
  .homeplants-grid .wide-image {
    height: calc((100% - 30px) / 2);
    margin-right: 0; }
  .homeplants-grid .homeplants-overlay {
    position: absolute;
    z-index: 60;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: white;
    text-align: center;
    opacity: 0;
    -webkit-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
    transition: opacity 0.5s; }
    .homeplants-grid .homeplants-overlay h3 {
      font-size: 2rem;
      color: #1a1a26;
      line-height: 1;
      font-weight: 100;
      margin: 0;
      padding: 10px 20px; }
    .homeplants-grid .homeplants-overlay p {
      font-size: 1.2rem;
      color: #888890;
      line-height: 1;
      text-align: center;
      font-weight: 400;
      padding: 0 20px 10px 20px;
      margin: 0; }
  .homeplants-grid .square-image .homeplants-overlay {
    width: 170px; }

.popular-products-text {
  position: relative;
  margin-bottom: 30px; }
  .popular-products-text h2::after {
    content: "";
    display: block;
    width: 40px;
    height: 20px;
    border-bottom: 2px solid #f5efef;
    position: absolute;
    top: 25%;
    left: 47%; }
  .popular-products-text h2::before {
    content: "";
    display: block;
    width: 120px;
    height: 20px;
    border-bottom: 2px solid #a8edea;
    position: absolute;
    top: 25%;
    left: 43%; }

.popular-products-scroll {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .popular-products-scroll h3 {
    margin: 20px;
    padding: 5px 0;
    font-size: 1.4rem;
    color: #1a1a26;
    line-height: 1;
    font-weight: 500;
    border-bottom: 1px solid transparent; }
    .popular-products-scroll h3:hover {
      border-bottom: 1px solid #1a1a26; }

.popular-products-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .popular-products-grid img {
    width: 100%; }
  .popular-products-grid .product-image-container {
    position: relative; }
  .popular-products-grid .product-container {
    position: relative;
    margin-right: 30px;
    width: calc((100% - 120px) / 5); }
    .popular-products-grid .product-container h4 {
      font-size: 1.1rem;
      color: #1a1a26;
      font-weight: 500;
      text-align: center; }
    .popular-products-grid .product-container span {
      color: #888890;
      text-decoration: line-through;
      font-weight: 400;
      font-size: 1.2rem; }
    .popular-products-grid .product-container:hover .popular-products-overlay {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
    .popular-products-grid .product-container h4:nth-of-type(2n + 2) {
      font-size: 1.4rem; }
  .popular-products-grid .product-container:nth-of-type(5n + 5) {
    margin-right: 0; }
  .popular-products-grid .news {
    position: absolute;
    top: 0;
    right: 10px;
    margin-top: 5px;
    z-index: 300; }
    .popular-products-grid .news p {
      font-size: 0.8rem;
      color: white;
      line-height: 1;
      text-align: center;
      font-weight: 400;
      text-transform: uppercase;
      border-radius: 10px;
      padding: 5px 7px;
      margin: 3px 0 0 0; }
  .popular-products-grid .hot-and-new p:first-of-type {
    background-color: #ff9a9e; }
  .popular-products-grid .hot-and-new p:nth-of-type(2) {
    background-color: #79dad6; }
  .popular-products-grid .only-new p {
    background-color: #79dad6; }
  .popular-products-grid .only-discount p {
    background-color: #f6b895; }
  .popular-products-grid .only-hot p {
    background-color: #ff9a9e; }

.popular-products-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5)));
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: none; }
  .popular-products-overlay h5 {
    padding: 10px 15px;
    font-size: 1rem;
    color: #888890;
    background-color: white;
    text-transform: uppercase;
    font-weight: 400; }

.customer-video-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .customer-video-grid .customer-testimonial, .customer-video-grid .plant-video {
    width: 50%;
    height: 70vh; }
  .customer-video-grid .customer-testimonial {
    background-image: url(../images/customer-background.jpg);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .customer-video-grid .customer-testimonial h2 {
      text-transform: capitalize;
      margin-bottom: 15px; }
    .customer-video-grid .customer-testimonial h3 {
      font-size: 1.3rem;
      color: #1a1a26;
      line-height: 2;
      font-weight: 500;
      font-style: italic;
      width: 85%;
      text-align: center; }
    .customer-video-grid .customer-testimonial h4 {
      font-size: 1.2rem;
      color: #888890;
      font-weight: 500;
      text-align: center;
      text-transform: uppercase;
      margin-top: 10px; }
    .customer-video-grid .customer-testimonial img {
      width: 60%; }
  .customer-video-grid .customer-slider {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 15px; }
    .customer-video-grid .customer-slider div {
      width: 30px;
      height: 30px;
      background-color: #888890;
      border-radius: 50%;
      margin: 0 10px; }
    .customer-video-grid .customer-slider div:nth-of-type(2) {
      -webkit-transform: scale(1.5);
      -ms-transform: scale(1.5);
      transform: scale(1.5);
      border: 1px solid rgba(136, 136, 144, 0.5);
      background-clip: padding-box; }
  .customer-video-grid .plant-video {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(../images/background-image-main.jpg);
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/background-image-main.jpg);
    background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/background-image-main.jpg);
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/background-image-main.jpg);
    background-size: cover;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .customer-video-grid p {
    font-size: 1.4rem;
    color: white;
    line-height: 1;
    text-align: center;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 3px; }
  .customer-video-grid img {
    margin-right: 15px; }
  .customer-video-grid .play-icon {
    margin-bottom: 40px;
    position: relative; }
    .customer-video-grid .play-icon div:nth-of-type(1) {
      width: 80px;
      height: 80px;
      border-radius: 50%;
      background-color: #f07f84;
      border: 8px solid rgba(255, 154, 158, 0.3);
      background-clip: padding-box; }
    .customer-video-grid .play-icon div:nth-of-type(3) {
      color: white;
      font-size: 20px;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%); }

.blog-title {
  position: relative; }
  .blog-title h2::after {
    content: "";
    display: block;
    width: 40px;
    height: 20px;
    border-bottom: 2px solid #f5efef;
    position: absolute;
    top: 70%;
    left: 47%; }
  .blog-title h2::before {
    content: "";
    display: block;
    width: 120px;
    height: 20px;
    border-bottom: 2px solid #a8edea;
    position: absolute;
    top: 70%;
    left: 43%; }

.blog-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 80px; }
  .blog-grid img {
    width: 100%; }
  .blog-grid .blog-grid-container {
    margin-right: 30px; }
  .blog-grid .blog-grid-container:nth-of-type(3) {
    margin-right: 0; }
  .blog-grid h4 {
    font-size: 1.2rem;
    color: #888890;
    font-weight: 400;
    text-align: left;
    margin-top: 10px;
    margin-bottom: 10px; }
  .blog-grid h3 {
    font-size: 1.5rem;
    color: #1a1a26;
    line-height: 1.5;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 15px; }
  .blog-grid a {
    font-size: 1.2rem;
    color: #1a1a26;
    line-height: 1;
    text-align: left;
    font-weight: 500;
    text-transform: capitalize;
    border-bottom: 1px solid #1a1a26;
    display: inline;
    text-decoration: none; }

.newsletter-maintext {
  position: relative; }
  .newsletter-maintext h2 {
    text-transform: capitalize; }
  .newsletter-maintext h2::after {
    content: "";
    display: block;
    width: 40px;
    height: 20px;
    border-bottom: 2px solid #f5efef;
    position: absolute;
    top: 25%;
    left: 47%; }
  .newsletter-maintext h2::before {
    content: "";
    display: block;
    width: 120px;
    height: 20px;
    border-bottom: 2px solid #a8edea;
    position: absolute;
    top: 25%;
    left: 43%; }
  .newsletter-maintext p {
    width: 50%;
    text-align: center;
    font-size: 1.2rem;
    color: #888890;
    line-height: 2rem;
    text-align: center;
    font-weight: 400; }
  .newsletter-maintext .newsletter-ptext {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: 50px; }

.newsletter-form {
  margin-bottom: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .newsletter-form form {
    position: relative; }
  .newsletter-form input {
    border: 0px solid lightgrey;
    border-bottom: 1px solid #e6e5e1;
    font-size: 1.2rem;
    color: #888890;
    line-height: 2rem;
    text-align: left;
    font-weight: 400;
    padding: 10px 0;
    width: 50%;
    min-width: 600px; }
  .newsletter-form a {
    position: absolute;
    font-size: 20px;
    color: #1a1a26;
    right: 0;
    top: 0; }

.newsletter-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-bottom: 100px; }
  .newsletter-grid img {
    height: 100%; }

.main-newsletter {
  border-bottom: 1px solid #e6e5e1; }

.top-footer {
  padding-bottom: 100px;
  border-bottom: 1px solid #e6e5e1; }
  .top-footer .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .top-footer .footer-layout {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    margin-right: 30px; }
    .top-footer .footer-layout:last-of-type {
      margin-right: 0; }
    .top-footer .footer-layout p {
      font-size: 1.2rem;
      color: #888890;
      line-height: 1.5;
      text-align: left;
      font-weight: 400;
      margin: 0 0 10px 0; }
    .top-footer .footer-layout span {
      color: #1a1a26;
      font-weight: 700; }
  .top-footer .footer-logo {
    margin-bottom: 30px; }
    .top-footer .footer-logo img {
      height: 20px; }
  .top-footer .footer-information {
    width: 35%; }
    .top-footer .footer-information p:first-of-type {
      margin-bottom: 30px; }
  .top-footer .footer-socialmedia {
    margin-top: 15px; }
    .top-footer .footer-socialmedia a {
      color: #1a1a26;
      font-size: 2rem;
      padding-right: 30px; }
    .top-footer .footer-socialmedia a:hover {
      color: #888890; }
  .top-footer .footer-title {
    position: relative; }
  .top-footer h3 {
    font-size: 2rem;
    color: #1a1a26;
    line-height: 1;
    font-weight: 400;
    margin: 0 0 30px 0; }
  .top-footer h3::after {
    content: "";
    width: 30px;
    display: block;
    position: absolute;
    border-bottom: 2px solid #a8edea;
    bottom: 15px; }
  .top-footer .instagram {
    width: 25%; }
  .top-footer .footer-instagram-pictures {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .top-footer .footer-instagram-pictures img {
      width: 100%; }
    .top-footer .footer-instagram-pictures .footer-picture-grid {
      margin-right: 10px;
      margin-bottom: 10px;
      width: calc((100% - 20px) / 3); }
    .top-footer .footer-instagram-pictures .footer-picture-grid:nth-of-type(3n + 3) {
      margin-right: 0; }
  .top-footer .footer-credit-cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .top-footer .footer-credit-cards img {
      width: 100%; }
    .top-footer .footer-credit-cards .footer-credit-card-grid {
      margin-right: 15px; }

.bottom-footer {
  padding: 30px 0; }
  .bottom-footer .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .bottom-footer p {
    font-size: 1.1rem;
    color: #888890;
    line-height: 1;
    text-align: normal;
    font-weight: 400;
    text-transform: capitalize; }
  .bottom-footer span {
    color: #1a1a26;
    font-weight: 500; }

@media (max-width: 1100px) {
  .header-nav.wrapper {
    padding-left: 3%;
    padding-right: 3%; }
  .header-hero .header-overlay-text h1 {
    font-size: 4rem; }
  .header-logo {
    -webkit-box-flex: 3;
    -ms-flex: 3 0 auto;
    flex: 3 0 auto; } }

@media (max-width: 1000px) {
  .customer-video-grid {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .customer-video-grid .customer-testimonial, .customer-video-grid .plant-video {
    width: 100%;
    margin-left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%); }
  .customer-video-grid .customer-testimonial {
    margin-bottom: 20px; }
  .blog-grid .blog-grid-container:nth-of-type(1) {
    margin-left: 30px; }
  .blog-grid .blog-grid-container:nth-of-type(3) {
    margin-right: 30px; }
  .newsletter-grid {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 350px;
    width: 50%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0 auto;
    margin-bottom: 20px;
    padding-bottom: 50px; }
  .newsletter-grid img {
    height: calc((100% - 60px) / 3);
    width: 120px;
    margin: 15px; }
  .top-footer .wrapper {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0 30px; }
  .top-footer .footer-information {
    width: 100%; }
  .top-footer .wrapper div {
    margin: 10px 0; }
  .bottom-footer .wrapper {
    -ms-flex-pack: distribute;
    justify-content: space-around; } }

@media (max-width: 940px) {
  .header-hero .header-overlay-text h1 {
    font-size: 3rem; }
  .header-hero .header-overlay-text p {
    font-size: 1.5rem; }
  .header-hero .header-overlay .header-overlay-text a {
    padding: 10px 20px;
    font-size: 1rem; }
  .header-hero .header-overlay .header-arrows a {
    font-size: 3rem; }
  .header-nav a {
    font-size: 1.1rem; }
  .header-socialmedia-icon i {
    font-size: 1.1rem; }
  .header-logo img {
    width: 80px; }
  .header-logo {
    -webkit-box-flex: 4;
    -ms-flex: 4 0 auto;
    flex: 4 0 auto; }
  .header-nav a {
    padding: 10px 10px; }
  .homeplants-grid {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .homeplants-grid .tall-image {
    margin-bottom: 30px;
    margin-right: 0;
    width: 50%; }
  .homeplants-grid .homeplants-right-side-grid {
    width: 50%; }
  .homeplants-grid .homeplants-overlay h3 {
    font-size: 1.5rem;
    padding: 5px; }
  .homeplants-grid .square-image .homeplants-overlay {
    width: 100px; }
  .popular-products-text h2::before, .blog-title h2::before, .newsletter-maintext h2::before {
    left: 42%; }
  .popular-products-grid .product-container:nth-of-type(5n + 1) {
    margin-left: 30px; }
  .popular-products-grid .product-ontainer:nth-of-type(5n + 5) {
    margin-right: 30px; }
  .popular-products-grid .product-container {
    width: calc((100% - 180px) / 5); }
  .top-footer {
    padding-bottom: 50px; }
  .homeplants-grid .homeplants-overlay {
    opacity: 1; } }

@media (max-width: 768px) {
  .header-nav ul {
    display: none; }
  .header-logo {
    padding-left: 20%; }
  .header-socialmedia-icon {
    padding-right: 20%; }
  .header-socialmedia-icon .notification {
    left: 5%; }
  .homeplants-grid .tall-image {
    height: 100%; }
  .homeplants-maintext {
    margin-bottom: 50px; }
  header, section {
    margin-bottom: 50px; }
  .popular-products-grid .product-container {
    width: calc((100% - 90px) / 4); }
  .popular-products-grid .product-container:nth-of-type(4n + 4) {
    margin-right: 30px; }
  .popular-products-grid .product-container:nth-of-type(4n + 5) {
    margin-left: 30px; }
  .popular-products-grid .product-container {
    width: calc((100% - 150px) / 4); }
  .customer-video-grid .plant-video .plant-video-images, .plant-video-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .customer-video-grid img {
    margin-right: 0;
    width: 60%;
    margin-bottom: 15px; }
  .customer-video-grid .customer-testimonial h2 {
    font-size: 2rem; }
  .customer-video-grid .customer-testimonial img {
    width: 40%; }
  .customer-video-grid .customer-testimonial h3, .customer-video-grid .customer-testimonial h4 {
    font-size: 1rem; }
  .customer-video-grid .customer-slider div {
    height: 20px;
    width: 20px; }
  .blog-grid {
    margin-top: 50px; }
  .blog-grid h4 {
    font-size: 1rem; }
  .blog-grid h3 {
    font-size: 1.2rem; }
  .blog-grid a {
    font-size: 1rem; }
  .bottom-footer .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .newsletter-grid {
    display: none; }
  .newsletter-maintext p {
    width: 80%; }
  .homeplants-grid .homeplants-overlay h3 {
    font-size: 1.2rem; }
  .homeplants-grid .homeplants-overlay p {
    font-size: 1rem; }
  .popular-products-overlay {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; } }

@media (max-width: 700px) {
  .popular-products-text h2::before, .blog-title h2::before, .newsletter-maintext h2::before {
    left: 41%; } }

@media (max-width: 600px) {
  .popular-products-text h2::before, .blog-title h2::before, .newsletter-maintext h2::before {
    left: 40%; }
  .popular-products-overlay h5 {
    font-size: 0.8rem;
    padding: 10px 10px; }
  .popular-products-grid .product-container h4 {
    font-size: 1rem; }
  .popular-products-grid .product-container h4:nth-of-type(2n + 2) {
    font-size: 1.2rem; }
  .newsletter-form input {
    min-width: 400px;
    width: 50%; }
  .top-footer .instagram {
    display: none; } }

@media (max-width: 500px) {
  .popular-products-text h2::before, .blog-title h2::before, .newsletter-maintext h2::before {
    left: 39%; } }

@media (max-width: 480px) {
  .header-hero .header-overlay .header-arrows a {
    font-size: 2.5rem; }
  .header-nav a {
    padding: 5px; }
  .popular-products-grid .product-container:nth-of-type(2n + 2) {
    margin: 0 30px 0 0; }
  .popular-products-grid .product-container {
    width: calc((100% - 90px) / 2); }
  .popular-products-grid .product-container:nth-of-type(2n + 1) {
    margin: 0 30px; }
  .blog-grid {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .blog-grid .blog-grid-container {
    margin: 20px 30px; }
  .top-footer .wrapper .footer-layout {
    margin-bottom: 30px; }
  .homeplants-grid .tall-image {
    margin-bottom: 10px; }
  .homeplants-grid .square-image:first-of-type {
    margin-right: 10px;
    margin-bottom: 10px; }
  .homeplants-grid .square-image:nth-of-type(2) {
    margin-bottom: 10px; }
  .homeplants-grid .square-image {
    width: calc((100% - 10px) / 2); }
  .homeplants-grid .homeplants-overlay h3 {
    font-size: 1rem; }
  .homeplants-grid .homeplants-overlay p {
    font-size: 0.8rem; }
  .newsletter-form input {
    min-width: 300px; }
  .bottom-footer p {
    font-size: 0.8rem; } }
