// Importing partials at the top

@import "normalize";
@import "variables";
@import "mixin";

// Base styles applied across the website

html {
    font-size:10px;
}

body {
    font-family: 'Poppins', sans-serif;
}

.wrapper {
    max-width:1000px;
    margin:0 auto;
}

a {
    text-decoration:none;
}

header, section {
    margin-bottom:$margin-bottom;
}

h2 {
    color:$primarycolor;
    font-size:3rem;
    text-align: center;
    font-weight:500;
}

// Begin targeting sections
// Header styling

.header-nav {
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding: 20px 0;
    ul {
        display:flex;
        flex: 1 0 auto;
        padding:0;
        }
    li {
        list-style:none;
    }
    a {
        text-transform:uppercase;
        color:$primarycolor;
        font-weight:700;
        font-size:1.2rem;
        padding:10px 10px;
        &:hover {
            color:$pcolor;
        }
    }
    
}

.header-logo {
    flex:2 0 auto;
    img {
        width:100px;
    }
}

.header-socialmedia-icon {
    position:relative;
    padding:0;
    i {
        font-size:2rem;
        font-weight:lighter;
    }
    .notification {
        position:absolute;
        left:15%;
        top:-20%;
        width:15px;
        height:15px;
        p {
            margin:0;
            background-color:#a8edea;
            color:$primarycolor;
            border-radius:50%;
            text-align: center;
            font-weight:500;
        }
    }
}

.header-hero {
    background-image:linear-gradient(to bottom, rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url(../images/hero-image-flower.jpg);
    width:100%;
    background-repeat:no-repeat;
    background-size:cover;
    height:90vh;
    position:relative;
    .header-overlay {
        height:90vh;
        display:flex;
        justify-content:space-between;
        align-items:center;
        .header-overlay-text {
            text-align: center;
        }
        p {
            font-size:2.4rem;
            color:$pcolor;
            margin:0;
        }
        h1 {
            font-size:$h1fontsize;
            color:$primarycolor;
            font-weight:500;
            margin:0 0 30px 0;
        }
    .header-overlay-text {
        a {
            color:#ffffff;
            font-size:1.2rem;
            padding:15px 40px;
            text-transform: uppercase;
            background-color:#f07f84;
            font-weight:700;
            letter-spacing:1px;
            z-index:50;
        }
    }
    .header-arrows {
        a {
            font-size:4rem;
            color:$primarycolor;
        }
    }
    .header-arrow-left {
        margin-left:30px;
        &:hover a {
            color:$pcolor;
        }
    }
    .header-arrow-right {
        margin-right:30px;
        &:hover a {
            color:$pcolor;
        }
    }
    .header-arrow-left {
        text-align: left;
    }
    }
    .header-bubbles {
        display:flex;
        position:absolute;
        justify-content:center;
        align-items: flex-end;
        bottom:4%;
        left:50%;
        transform: translateX(-50%);
        margin:0 auto;
        z-index:40;
        div {
            width:10px;
            height:10px;
            border-radius:50%;
            background-color:$primarycolor;
            margin:5px;
        }
        div:nth-of-type(2) {
            background-color:$pcolor;
        }
    }
}

// Styling for "The Home of Interior Plants Section"

.homeplants-maintext {
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content: center;
    margin-bottom:80px;
    .homeplants-title {
        position:relative;
        margin-bottom:$secondary-margin-bottom;
        p {
            @include pstyle(1.4rem, #a8edea, 1, center, 400);
            margin:0;
        }
        h2 {
            margin:1rem;
        }
        img {
            position:absolute;
            z-index:-10;
            top:0;
            left:50%;
            transform:translateX(-50%);
        }

    }
    .homeplants-title + p {
        @include pstyle (1.2rem, $pcolor, $plineheight, center, 400);
        width:65%;
    }
    h4 {
        @include h4style (1.2rem, $primarycolor, 600, left);
        text-transform: uppercase;
    }
    span {
        font-style: italic;
        color:$pcolor;
        font-weight:400;
        text-transform:capitalize;
        font-size:1.1rem;
    }
}

// Styling for the image grid in the "The Home of Interior Plants"
.homeplants-grid {
    display:flex;
    flex-wrap:wrap;
    img {
        width:100%;
        height:100%;
    }
    .homeplants-image-container {
        margin-right:$gridmarginright;
        height:480px;
        position:relative;
        &:hover .homeplants-overlay {
            opacity:1;
        }
    }
    .homeplants-right-side-grid {
        display:flex;
        flex-wrap:wrap;
        width:calc((100% - 30px) * 640 / 1110);
    }
    .tall-image {
        width:calc((100% - 30px) * 470 / 1110);
    }
    .square-image {
        margin-bottom:30px;
        height:calc((100% - 30px) / 2);
        width:calc((100% - 30px) / 2);
        &:nth-of-type(2) {
            margin-right:0;
        }
    }
    .wide-image {
        height:calc((100% - 30px) / 2);
        margin-right:0;
    }
    .homeplants-overlay {
        position:absolute;
        z-index:60;
        top:50%;
        left:50%;
        transform: translate(-50%,-50%);
        display:flex;
        flex-direction:column;
        background-color:white;
        text-align: center;
        opacity:0;
        transition:opacity 0.5s;
        h3 {
            @include h3style (2rem, $primarycolor, 1, 100);
            margin:0;
            padding:10px 20px;
        }
        p {
            @include pstyle (1.2rem, $pcolor, 1, center, 400);
            padding:0 20px 10px 20px;
            margin:0;
        }
    }
    .square-image {
        .homeplants-overlay {
            width:170px;
        }
    }
}

// Styling for "Popular Products" text and grid

.popular-products-text {
    position:relative;
    margin-bottom:30px;
    h2::after {
        content:"";
        display:block;
        width:40px;
        height:20px;
        border-bottom:2px solid $afterlineinsidecolor;
        position:absolute;
        top:25%;
        left:47%;
    }
    h2::before {
        content:"";
        display:block;
        width:120px;
        height:20px;
        border-bottom:2px solid $afterlineoutsidecolor;
        position:absolute;
        top:25%;
        left:43%;
    }
}

.popular-products-scroll {
    display:flex;
    justify-content: center;
    h3 {
        margin:20px;
        padding:5px 0;
        @include h3style (1.4rem, $primarycolor, 1, 500);
        border-bottom:1px solid transparent;
        &:hover {
            border-bottom:1px solid $primarycolor;
        }
    }
}

.popular-products-grid {
    display:flex;
    flex-wrap: wrap;
    img {
        width:100%;
    }
    .product-image-container {
        position:relative;
    }
    .product-container {
        position:relative;
        margin-right:30px;
        width:calc((100% - 120px) / 5);
        h4 {
            @include h4style (1.1rem, $primarycolor, 500, center);
        }
        span {
            color:$pcolor;
            text-decoration:line-through;
            font-weight:400;
            font-size:1.2rem;
        }
        &:hover .popular-products-overlay {
            display:flex;
        }
        h4:nth-of-type(2n + 2) {
            font-size:1.4rem;
        }
    }
    .product-container:nth-of-type(5n + 5) {
        margin-right:0;
    }
    .news {
        position:absolute;
        top:0;
        right:10px;
        margin-top:5px;
        z-index:300;
        p {
            @include pstyle (0.8rem, white, 1, center, 400);
            text-transform:uppercase;
            border-radius:10px;
            padding:5px 7px;
            margin:3px 0 0 0;
        }
    }
    .hot-and-new p:first-of-type {
        background-color:$hotcolor;
    }
    .hot-and-new p:nth-of-type(2) {
        background-color:$newcolor;
    }
    .only-new {
        p {
            background-color:$newcolor;
        }
    }
    .only-discount {
        p {
            background-color:$discountcolor;
        }
    }
    .only-hot {
        p {
            background-color:$hotcolor;
        }
    }
}

//Overlays over "Popular Products" grid

.popular-products-overlay {
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background:linear-gradient(to bottom, rgba(0,0,0,0.5), rgba(0,0,0,0.5));
    z-index:100;
    display:flex;
    justify-content: center;
    align-items: center;
    display:none;
    h5 {
        padding:10px 15px;
        font-size:1rem;
        color:$pcolor;
        background-color:white;
        text-transform: uppercase;
        font-weight: 400;
    }
}

// Styling for Customer Testimonials and Plant Video 

.customer-video-grid {
    display:flex;
    .customer-testimonial, .plant-video {
        width:50%;
        height:70vh;
    }
    .customer-testimonial {
        background-image:url(../images/customer-background.jpg);
        display:flex;
        flex-direction:column;
        justify-content: center;
        align-items: center;
        h2 {
            text-transform: capitalize;
            margin-bottom:15px;
        }
        h3 {
            @include h3style (1.3rem, $primarycolor, 2, 500);
            font-style: italic;
            width:85%;
            text-align: center;
        }
        h4 {
            @include h4style (1.2rem, $pcolor, 500, center);
            text-transform: uppercase;
            margin-top:10px;
        }
        img {
            width:60%;
        }
    }
    .customer-slider {
        display:flex;
        margin-top:15px;
        div {
            width:30px;
            height:30px;
            background-color:$pcolor;
            border-radius: 50%;
            margin:0 10px;
        }
        div:nth-of-type(2) {
            transform:scale(1.5);
            border:1px solid rgba(136, 136, 144, 0.5);
            background-clip: padding-box;
        }
    }

    .plant-video {
        background-image:linear-gradient(to bottom, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../images/background-image-main.jpg);
        background-size:cover;
        display:flex;
        flex-direction:column;
        justify-content: center;
        align-items: center;
    }
    p {
        @include pstyle (1.4rem, white, 1, center, 400);
        text-transform: uppercase;
        letter-spacing: 3px;
    }
    img {
        margin-right:15px;
    }
    .play-icon {
        margin-bottom:40px;
        position:relative;
        div:nth-of-type(1) {
            width:80px;
            height:80px;
            border-radius:50%;
            background-color:#f07f84;
            border:8px solid rgba(255, 154, 158, 0.3);
            background-clip: padding-box;
        }
        div:nth-of-type(3) {
            color:white;
            font-size:20px;
            position:absolute;
            top:50%;
            left:50%;
            transform: translate(-50%,-50%);
        }
    }
}

// Styling for Blog text and grid

.blog-title {
    position:relative;
    h2::after {
        content:"";
        display:block;
        width:40px;
        height:20px;
        border-bottom:2px solid $afterlineinsidecolor;
        position:absolute;
        top:70%;
        left:47%;
    }
    h2::before {
        content:"";
        display:block;
        width:120px;
        height:20px;
        border-bottom:2px solid $afterlineoutsidecolor;
        position:absolute;
        top:70%;
        left:43%;
    }
}

.blog-grid {
    display:flex;
    justify-content: space-between;
    margin-top:80px;
    img {
        width:100%;
    }
    .blog-grid-container {
        margin-right:30px;
    }
    .blog-grid-container:nth-of-type(3) {
        margin-right:0;
    }
    h4 {
        @include h4style (1.2rem, $pcolor, 400, left);
        margin-top:10px;
        margin-bottom:10px;
    }
    h3 {
        @include h3style (1.5rem, $primarycolor, 1.5, 700);
        margin-top:10px;
        margin-bottom:15px;
    }
    a {
        @include pstyle (1.2rem, $primarycolor, 1, left, 500);
        text-transform: capitalize;
        border-bottom:1px solid $primarycolor;
        display:inline;
        text-decoration:none;
    }
}

// Styling for newsletter section

.newsletter-maintext {
    position:relative;
    h2 {
        text-transform: capitalize;
    }
    h2::after {
        content:"";
        display:block;
        width:40px;
        height:20px;
        border-bottom:2px solid $afterlineinsidecolor;
        position:absolute;
        top:25%;
        left:47%;
    }
    h2::before {
        content:"";
        display:block;
        width:120px;
        height:20px;
        border-bottom:2px solid $afterlineoutsidecolor;
        position:absolute;
        top:25%;
        left:43%;
    }
    p {
        width:50%;
        text-align: center;
        @include pstyle (1.2rem, $pcolor, $plineheight, center, 400);
    }
    .newsletter-ptext {
        display:flex;
        justify-content: center;
        margin-bottom:50px;
    }
}

.newsletter-form {
    margin-bottom:100px;
    display:flex;
    justify-content: center;
    form {
        position:relative;
    }
    input {
        border:0px solid lightgrey;
        border-bottom:1px solid #e6e5e1;
        @include pstyle (1.2rem, $pcolor, $plineheight, left, 400);
        padding:10px 0;
        width:50%;
        min-width:600px;
    }
    a {
        position:absolute;
        font-size:20px;
        color:$primarycolor;
        right:0;
        top:5px;
    }
}

.newsletter-grid {
    display:flex;
    justify-content: space-between;
    padding-bottom:100px;
    img {
        height:100%;
    }
}

.main-newsletter {
    border-bottom:1px solid #e6e5e1;
}

// Styling for footer section

.top-footer {
    padding-bottom:100px;
    border-bottom:1px solid #e6e5e1;
    .wrapper {
        display:flex;
        justify-content: space-between;
    }
    .footer-layout {
        display:flex;
        flex-direction:column;
        justify-content: flex-start;
        margin-right:30px;
        &:last-of-type {
            margin-right:0;
        }
        p {
            @include pstyle (1.2rem, $pcolor, 1.5, left, 400);
            margin:0 0 10px 0;
        }
        span {
            color:$primarycolor;
            font-weight:700;
        }
    }
    .footer-logo {
        margin-bottom:30px;
        img {
            height:20px;
        }
    }
    .footer-information {
        width:35%;
        p:first-of-type {
            margin-bottom:30px;
        }
    }
    .footer-socialmedia {
        margin-top:15px;
        a {
            color:$primarycolor;
            font-size:2rem;
            padding-right:30px;
        }
        a:hover {
            color:$pcolor;
        }
    }
    .footer-title {
        position:relative;
    }
    h3 {
        @include h3style (2rem, $primarycolor, 1, 400);
        margin:0 0 30px 0;
    }
    h3::after {
        content:"";
        width:30px;
        display:block;
        position:absolute;
        border-bottom:2px solid #a8edea;
        bottom:15px;
    }
    .instagram {
        width:25%;
    }
    .footer-instagram-pictures {
        display:flex;
        flex-wrap:wrap;
        img {
            width:100%;
        }
        .footer-picture-grid {            
            margin-right:10px;
            margin-bottom:10px;
            width:calc((100% - 20px) / 3);
        }
        .footer-picture-grid:nth-of-type(3n + 3) {
            margin-right:0;
        }
    }
    .footer-credit-cards {
        display:flex;
        img {
            width:100%;
        }
        .footer-credit-card-grid {
            margin-right:15px
        }
    }
}

.bottom-footer {
    padding:30px 0;
    .wrapper {
        display:flex;
        justify-content: space-between;
    }
    p {
        @include pstyle (1.1rem, $pcolor, 1, normal, 400);
        text-transform: capitalize;
    }
    span {
        color:$primarycolor;
        font-weight:500;
    }
}


//MEDIA QUERIES - typical breakpoints at 940px, 768px, 480px, but added more as the website began to break down

@media (max-width: 1100px) {
    .header-nav.wrapper {
        padding-left:3%;
        padding-right:3%;
    }
    .header-hero .header-overlay-text h1 {
        font-size:4rem;
    }
    .header-logo {
        flex:3 0 auto;
    }
}

@media (max-width: 1000px) {
    .customer-video-grid {
        flex-direction:column;
    }
    .customer-video-grid .customer-testimonial, .customer-video-grid .plant-video {
        width:100%;
        margin-left:50%;
        transform: translateX(-50%);
    }
    .customer-video-grid .customer-testimonial {
        margin-bottom:20px;
    }
    .blog-grid .blog-grid-container:nth-of-type(1) {
        margin-left:30px;
    }
    .blog-grid .blog-grid-container:nth-of-type(3) {
        margin-right:30px;
    }
    .newsletter-grid {
        flex-direction:column;
        height:350px;
        width:50%;
        align-items: center;
        flex-wrap:wrap;
        margin:0 auto;
        margin-bottom:20px;
        padding-bottom:50px;
    }
    .newsletter-grid img {
        height:calc((100% - 60px) / 3);
        width:120px;
        margin:15px;
    }
    .top-footer .wrapper {
        flex-wrap: wrap;
        margin:0 30px;
    }
    .top-footer .footer-information {
        width:100%;
    }
    .top-footer .wrapper div {
        margin:10px 0;
    }
    .bottom-footer .wrapper {
        justify-content: space-around;
    }
}

//shrink size of fonts in header-nav
@media (max-width: 940px) {
    .header-hero .header-overlay-text h1 {
        font-size:3rem;
    }
    .header-hero .header-overlay-text p {
        font-size:1.5rem;
    }
    .header-hero .header-overlay .header-overlay-text a {
        padding:10px 20px;
        font-size:1rem;
    }
    .header-hero .header-overlay .header-arrows a {
        font-size:3rem;
    }
    .header-nav a {
        font-size:1.1rem;
    }
    .header-socialmedia-icon i {
        font-size:1.1rem;
    }
    .header-logo img {
        width:80px;
    }
    .header-logo {
        flex:4 0 auto;
    }
    .header-nav a {
        padding:10px 10px;
    }
    .homeplants-grid {
        flex-direction:column;
        align-items: center;
        justify-content: center;
    }
    .homeplants-grid .tall-image {
        margin-bottom:30px;
        margin-right:0;
        width:50%;
    }
    .homeplants-grid .homeplants-right-side-grid {
        width:50%;
    }
    .homeplants-grid .homeplants-overlay h3 {
        font-size:1.5rem;
        padding:5px;
    }
    .homeplants-grid .square-image .homeplants-overlay {
        width:100px;
    }
    .popular-products-text h2::before, .blog-title h2::before, .newsletter-maintext h2::before {
        left: 42%;
    }
    .popular-products-grid .product-container:nth-of-type(5n + 1) {
        margin-left:30px;
    }
    .popular-products-grid .product-ontainer:nth-of-type(5n + 5) {
        margin-right:30px;
    }
    .popular-products-grid .product-container {
        width:calc((100% - 180px) / 5);
    }
    .top-footer {
        padding-bottom:50px;
    }
    .homeplants-grid .homeplants-overlay {
        opacity:1;
    }
}

@media (max-width: 768px) {
    .header-nav ul {
        display:none;
    }
    .header-logo {
        padding-left:20%;
    } 
    .header-socialmedia-icon {
        padding-right:20%;
    }
    .header-socialmedia-icon .notification {
        left:5%;
    }
    .homeplants-grid .tall-image {
        height:100%;
        width:60%;
    }
    .homeplants-grid .homeplants-right-side-grid {
        width:60%;
    }
    .homeplants-maintext {
        margin-bottom:50px;
    }
    header, section {
        margin-bottom:50px;
    }
    .popular-products-grid .product-container {
        width:calc((100% - 90px) / 4);
    }
    .popular-products-grid .product-container:nth-of-type(4n + 4) {
        margin-right:30px;
    }
    .popular-products-grid .product-container:nth-of-type(4n + 5) {
        margin-left:30px;
    }
    .popular-products-grid .product-container {
        width:calc((100% - 150px) / 4);
    }
    .customer-video-grid .plant-video .plant-video-images, .plant-video-text {
        display:flex;
        flex-direction:column;
        justify-content: space-between;
        align-items: center;
    }
    .customer-video-grid img {
        margin-right:0;
        width:60%;
        margin-bottom:15px;
    }
    .customer-video-grid .customer-testimonial h2 {
        font-size:2rem;
    }
    .customer-video-grid .customer-testimonial img {
        width:40%;
    }
    .customer-video-grid .customer-testimonial h3, .customer-video-grid .customer-testimonial h4 {
        font-size:1rem;
    }
    .customer-video-grid .customer-slider div {
        height:20px;
        width:20px;
    }
    .blog-grid {
        margin-top:50px;
    }
    .blog-grid h4 {
        font-size:1rem;
    }
    .blog-grid h3 {
        font-size:1.2rem;
    }
    .blog-grid a {
        font-size:1rem;
    }
    .bottom-footer .wrapper {
        flex-direction: column;
        align-items: center;
    }
    .newsletter-grid {
        display:none;
    }
    .newsletter-maintext p {
        width:80%;
    }
    .homeplants-grid .homeplants-overlay h3 {
        font-size:1.2rem;
    }
    .homeplants-grid .homeplants-overlay p {
        font-size:1rem;
    }
    .popular-products-overlay {
        display:flex;
    }

}

@media (max-width:700px) {
    .popular-products-text h2::before, .blog-title h2::before, .newsletter-maintext h2::before {
        left: 41%;
    }
}

@media (max-width:600px) {
    .popular-products-text h2::before, .blog-title h2::before, .newsletter-maintext h2::before {
        left: 40%;
    }
    .popular-products-overlay h5 {
        font-size:0.8rem;
        padding:10px 10px;
    }
    .popular-products-grid .product-container h4 {
        font-size:1rem;
    }
    .popular-products-grid .product-container h4:nth-of-type(2n + 2) {
        font-size:1.2rem;
    }
    .newsletter-form input {
        min-width:400px;
        width:50%;
    }
    .top-footer .instagram {
        display:none;
    }
}

@media (max-width:500px) {
    .popular-products-text h2::before, .blog-title h2::before, .newsletter-maintext h2::before {
        left: 39%;
    }
}

@media (max-width: 480px) {
    .header-hero .header-overlay .header-arrows a {
        font-size:2.5rem;
    }
    .header-nav a {
        padding:5px;
    }
    .popular-products-grid .product-container:nth-of-type(2n + 2) {
        margin:0 30px 0 0;
    } 
    .popular-products-grid .product-container {
        width:calc((100% - 90px) / 2);
    }
    .popular-products-grid .product-container:nth-of-type(2n + 1) {
        margin:0 30px;
    }
    .blog-grid {
        flex-direction:column;
        justify-content: space-between;
    }
    .blog-grid .blog-grid-container {
        margin:20px 30px;
    }
    .top-footer .wrapper .footer-layout {
        margin-bottom:30px;
    }
    .homeplants-grid .tall-image {
        margin-bottom:10px;
    }
    .homeplants-grid .square-image:first-of-type {
        margin-right:10px;
        margin-bottom:10px;
    }
    .homeplants-grid .square-image:nth-of-type(2) {
        margin-bottom:10px;
    }
    .homeplants-grid .square-image {
        width:calc((100% - 10px) / 2);
    }
    .homeplants-grid .homeplants-overlay h3 {
        font-size:1rem;
    }
    .homeplants-grid .homeplants-overlay p {
        font-size:0.8rem;
    }
    .newsletter-form input {
        min-width:300px;
    }
    .bottom-footer p {
        font-size:0.8rem;
    }
}